body{
    height: 100vh;
}

header{
    grid-area: h;
    background-color: aqua;
}

nav{
    grid-area: n;
    background-color: turquoise;
}

main{
    grid-area: m;
    background-color: blue;
}

aside{
    grid-area: a;
    background-color: rebeccapurple;
    display:flex;
    justify-content: space-around;
}  
    
#bbox {
    margin-top: 17%;
    justify-content: space-between;
}

footer{
    grid-area: f;
    background-color: blueviolet;
}

#container{
    display: grid;
    height: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:100% 100% 100% 100%;

    grid-template-areas:
    
    "n h h h"
    "m m m m "
    "a a a a"
    "f f f f";
}

@media screen and (max-width:800px){

    #container{ 

        grid-template-rows: 50% 50% 25% 50% 50%;  
        grid-template-areas:
        
    
    "h h h"
    "n n n"
    "m m m"
    "a a a"
    "f f f";
    }
}
